<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <h1 class="h3 mb-3 font-weight-normal">Login now</h1>
            <div class="form-group">
                <label for="Username" class="sr-only">Username</label>
                <input type="text" formControlName="Username" class="form-control" placeholder="Username" required autofocus>
                <div *ngIf="Username.touched && Username.errors" class="form-text text-danger">
                    <span *ngIf="Username.hasError('required')">Username is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="sr-only">Password</label>
                <input type="password" formControlName="Password" class="form-control" placeholder="Password" required autofocus>
                <div *ngIf="Password.touched && Password.errors" class="form-text text-danger">
                    <span *ngIf="Password.hasError('required')">Password is required.</span>
                </div>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit" [disabled]="loginForm.invalid">Log in</button>
        </form>
        <div class="text-left mb-3 alert alert-danger alert-dismissible" *ngIf="invalidLogin" role="alert">
            <small>{{errorMessage}}</small>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>