<div class="container-fluid">
    <div class="row h-margin">
        <div class="col-md-3">
            <div class="form-group col-md-9 no-margin">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Select Team</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group col-md-9 no-margin">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Select Employee</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group col-md-9 no-margin">
                <div class="input-group mb-2">

                    <input type="text" class="form-control" placeholder="Date Range" id="inputValid">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar text-info"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3 no-margin">
            <button type="button" class="btn btn-outline-primary btn-rt"><i class="fa fa-search fa-1x"></i> Search</button>
            <button type="button" class="btn btn-outline-warning"><i class="fa fa-undo fa-1x"></i> Reset</button>
        </div>
    </div>
</div>