
<div class="row">
  <div class="col-md-2">
    <div class="form-group no-margin">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="selectedTeam">
        <option value="-1" selected>Select Team</option>
        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group no-margin">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="selectedTeam">
        <option value="-1" selected>Select Employee</option>
        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group no-margin">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="selectedTeam">
        <option value="-1" selected>Select Customer</option>
        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group no-margin">
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Date Range" id="inputValid">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-calendar text-info"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group col-md-2 no-margin text-right">
    <button type="button" class="btn btn-outline-primary btn-rt"><i class="fa fa-search fa-1x"></i></button>
    <button type="button" class="btn btn-outline-warning" (click)="resetSearch()"><i class="fa fa-undo fa-1x"></i></button>
  </div>
</div>
