<div class="container-fluid">
  <app-filter [teams]="teams"></app-filter>

  <div *ngIf="collections.length">
    <div class="row header">
      <div class="col-md-12 col-sm-12 col-md-10">
        <h4>Collections</h4>
      </div>
    </div>

    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Customer</th>
          <th>Collected By</th>
          <th>Date Time</th>
          <th>(&#8377;) Calculated</th>
          <th>(&#8377;) Collection</th>
          <th>Comments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of collections">
          <td>{{col.id}}</td>
          <td><strong>{{col.firmName}}</strong> | {{col.customerName}}</td>
          <td><strong>{{col.teamName}}</strong> | {{col.createdByName}}</td>
          <td>{{col.dateTime | date: 'dd MMM, yyyy hh:mm a'}}</td>
          <td><strong>{{col.calculatedAmount.toFixed(2)}}</strong></td>
          <td>
            <strong [ngClass]="{'text-success': col.collectionAmount >= col.calculatedAmount, 'text-danger': col.collectionAmount < col.calculatedAmount}">
              {{col.collectionAmount.toFixed(2)}}
            </strong>
          </td>
          <td>{{col.comments.substring(0, 50)}}</td>
          <td>
            <div class="mt-4 no-margin" role="group">
              <button type="button" class="btn btn-success btn-sm btn-space" (click)="onSelect(col.id)"><i class="fas fa-list"></i></button>
              <button type="button" class="btn btn-primary btn-sm  btn-space" *ngIf="userRoleStatus == 'Admin'" (click)="onUpdateModal(col)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm" *ngIf="userRoleStatus == 'Admin'" (click)="onDeleteConfirm(col)"><i class="fas fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- MANAGE TEAM MODAL START-->
<ng-template #collectionTemplate>
  <form [formGroup]="colForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Manage Collection</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-info">{{modalMessage}}</p>
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="name">Customer</label>
            <input type="text" id="customerFullName" formControlName="customerFullName" class="form-control" readonly="readonly">
          </div>

          <div class="form-group">
            <label for="dateTime">Collection Date</label>
            <input type="text" id="dateTime" class="form-control" placeholder="Date" aria-label="dateTime" aria-describedby="collectionDate">
            <div *ngIf="colForm.get('dateTime').touched && colForm.get('dateTime').errors" class="form-text text-muted error">
              <span *ngIf="colForm.get('dateTime').errors.required">Collection Date is required.</span>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Comments</label>
            <textarea type="text" id="comments" formControlName="comments" class="form-control" placeholder="Describe the Team - Max 100 Characters"></textarea>
            <div *ngIf="colForm.get('comments').touched && colForm.get('comments').errors" class="form-text text-muted error">
              <span *ngIf="teamForm.get('comments').errors.maxlength">Only 100 characters allowed for Description.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="name">Calculated Amount (&#8377;)</label>
            <input type="text" id="calculatedAmount" formControlName="calculatedAmount" class="form-control col-md-6" readonly="readonly">
          </div>

          <div class="form-group">
            <label for="name">collection Amount (&#8377;)</label>
            <input type="text" id="collectionAmount" formControlName="collectionAmount" class="form-control col-md-6">
            <div *ngIf="colForm.get('collectionAmount').touched && colForm.get('collectionAmount').errors" class="form-text text-muted error">
              <span *ngIf="colForm.get('collectionAmount').errors.required">Collection Amount is required.</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success btn-space">Submit</button>
      <button type="button" (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</ng-template>
<!-- MANAGE TEAM MODAL START-->
