/* You can add global styles to this file, and also import other style files */

@import "~@fortawesome/fontawesome-free/css/all.css";
.body-wrapper {
    margin-top: 20px
}

.link {
    cursor: pointer;
}

.login-info {
    margin-top: 2px;
    font-weight: bold;
}

.error {
    color: red !important;
    font-size: 12px;
}

.btn-space {
    margin-right: 5px;
}

input[type="search"],
select {
    border: solid 1px #b2b2b2;
    padding: 4px 6px;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 3px 0px 3px 10px;
    vertical-align: middle;
}

.no-margin {
    margin: 0 !important;
}

.paging_full_numbers,
.dataTables_info {
    font-size: 12px;
}

table thead th,
table tbody td {
    height: 5px !important;
    padding: 7px 10px !important;
}