/* You can add global styles to this file, and also import other style files */

.body-wrapper {
    margin-top: 20px
}

.link {
    cursor: pointer;
}

.login-info {
    margin-top: 2px;
    font-weight: bold;
}