<div class="container-fluid">
  <div class="row header">
    <div class="col-md-10 col-sm-10 col-8">
      <h4>Customers</h4>
    </div>
    <div class="col-md-2 col-sm-2 col-4">
      <button class="btn btn-primary btn-sm float-right" *ngIf="userRoleStatus == 'Admin'" (click)="onAddModal()"><i class="fa fa-plus"></i> Add</button>
    </div>
  </div>
  <div *ngIf="!customers.length">
    <div class="no-data">No data found</div>
  </div>
  <div *ngIf="customers.length">
    <table class="table table-bordered table-condensed table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Firm Name</th>
          <th>Customer Name</th>
          <th>Address</th>
          <th>Description</th>
          <th>Unit/Day</th>
          <th>Unit Price</th>
          <th>Total/Day</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cus of customers">
          <td>{{cus.id}}</td>
          <td>{{cus.firmName}}</td>
          <td>{{cus.customerName}}</td>
          <td>{{cus.address}}</td>
          <td>{{cus.description}}</td>
          <td>{{cus.unitPerDay}}</td>
          <td>&#8377; {{cus.unitPrice}}</td>
          <td>&#8377; {{cus.totalPerDay}}</td>
          <td>{{true == cus.active ? 'Active': 'Inactive'}}</td>
          <td>
            <div class="mt-4 no-margin" role="group">
              <button type="button" class="btn btn-success btn-sm btn-space" (click)="onSelect(cus.id)"><i class="fas fa-list"></i></button>
              <button type="button" class="btn btn-primary btn-sm  btn-space" *ngIf="userRoleStatus == 'Admin'" (click)="onUpdateModal(cus)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm" *ngIf="userRoleStatus == 'Admin'" (click)="onDeleteConfirm(cus)"><i class="fas fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- MANAGE CUSTOMER MODAL START-->
<ng-template #cusManageTemplate>
  <form [formGroup]="cusForm" (ngSubmit)="cusForm.valid && onSaveCustomer()">
    <div class="modal-header">
      <h4 class="modal-title">{{isNewEntry ? 'Add New Customer': 'Update Customer'}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-7 col-sm-7 col-12">
          <div class="form-group">
            <label for="firmName">Firm Name</label>
            <input type="text" formControlName="firmName" class="form-control">
            <div *ngIf="cusForm.get('firmName').touched && cusForm.get('firmName').invalid" class="form-text text-muted error">
              <span *ngIf="cusForm.get('firmName').errors.required">Firm name is required.</span>
              <span *ngIf="cusForm.get('firmName').errors.maxlength">Only 30 characters allowed for firm name.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="customerName">Customer Name</label>
            <input type="text" formControlName="customerName" class="form-control">
            <div *ngIf="cusForm.get('customerName').touched && cusForm.get('customerName').invalid" class="form-text text-muted error">
              <span *ngIf="cusForm.get('customerName').errors.required">Customer name is required.</span>
              <span *ngIf="cusForm.get('customerName').errors.maxlength">Only 30 characters allowed for customer name.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <textarea formControlName="address" class="form-control"></textarea>
            <div *ngIf="cusForm.get('address').touched && cusForm.get('address').invalid" class="form-text text-muted error">
              <span *ngIf="cusForm.get('address').errors.maxlength">Only 80 characters allowed for address.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" class="form-control"></textarea>
            <div *ngIf="cusForm.get('description').touched && cusForm.get('description').invalid" class="form-text text-muted error">
              <span *ngIf="cusForm.get('description').errors.maxlength">Only 12 characters allowed for mobile number.</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-12">
          <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input type="number" min="0" formControlName="mobileNumber" class="form-control col-sm-8">
            <div *ngIf="cusForm.get('mobileNumber').touched && cusForm.get('mobileNumber').invalid" class="form-text text-muted error">
              <span *ngIf="cusForm.get('mobileNumber').errors.maxlength">Max.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="unitPerDay">Unit Per Day</label>
            <input type="number" max="1000" min="0" formControlName="unitPerDay" class="form-control col-sm-8">
            <div *ngIf="cusForm.get('unitPerDay').touched && cusForm.get('unitPerDay').invalid" class="form-text text-muted error">
              <span *ngIf="cusForm.get('unitPerDay').errors.required">Unit/Day is required.</span>
              <span *ngIf="cusForm.get('unitPerDay').errors.maxlength">Maximum 1000 units can be added.</span>
              <span *ngIf="cusForm.get('unitPerDay').errors.pattern">Only numbers allowed for unit/day.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="unitPrice">Per Unit Price</label>
            <strong> (&#8377;)</strong>
            <input type="number" max="1000" min="0" formControlName="unitPrice" class="form-control col-sm-8">
            <div *ngIf="cusForm.get('unitPrice').touched && cusForm.get('unitPrice').invalid" class="form-text text-muted error">
              <span *ngIf="cusForm.get('unitPrice').errors.required">Unit Price is required.</span>
              <span *ngIf="cusForm.get('unitPrice').errors.maxlength">Maximum 1000 Rs. can be added.</span>
              <span *ngIf="cusForm.get('unitPrice').errors.pattern">Only numbers allowed for unit price.</span>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" id="chkActive" formControlName="active" checked aria-label="Checkbox for following text input" class="custom-control-input">
              <label class="custom-control-label" for="chkActive">Customer Active</label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">

      <button type="submit" [disabled]="cusForm.invalid" class="btn btn-success btn-space">Submit</button>
      <button type="button" (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>

    </div>
  </form>
</ng-template>
<!-- MANAGE CUSTOMER MODAL END-->
<!-- DELETE EMPLOYEE MODAL START-->
<ng-template #cusDelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Delete Confirmation!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-danger">
    <h4>Are you confirm to delete the customer?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onDelete()">Yes</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
<!-- DELETE EMPLOYEE MODAL START-->
