<div class="container-fluid">
  <div class="row header">
    <div class="col-md-10 col-sm-10 col-8">
      <h4>Teams</h4>
    </div>
    <div class="col-md-2 col-sm-2 col-4">
      <button class="btn btn-primary btn-sm float-right" *ngIf="userRoleStatus == 'Admin'" (click)="onAddTeam()"><i class="fa fa-plus"></i> Add</button>
    </div>
  </div>

  <div *ngIf="!teams.length">
    <div class="no-data">No data found</div>
  </div>

  <div *ngIf="teams.length">

    <table class="table table-bordered table-condensed table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
          <td>{{team.id}}</td>
          <td>{{team.name}}</td>
          <td>{{team.description}}</td>
          <td>{{true == team.active ? 'Active': 'Inactive'}}</td>
          <td>
            <div class="mt-4 no-margin" role="group">
              <button type="button" class="btn btn-success btn-sm btn-space" (click)="showTeamDetails(team)"><i class="fas fa-list"></i></button>
              <button type="button" class="btn btn-primary btn-sm  btn-space" *ngIf="userRoleStatus == 'Admin'" (click)="onUpdateTeam(team)"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger btn-sm" *ngIf="userRoleStatus == 'Admin'" (click)="onDeleteConfirm(team)"><i class="fas fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="employeesInTeams.length">
    <div class="row header">
      <div class="col-md-12 col-sm-12 col-md-10">
        <h4>Employees In Teams</h4>
      </div>
    </div>

    <table class="table table-bordered table-condensed table-hover" style="width: auto">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Employee Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let et of employeesInTeams">
          <td>{{et.teamName}}</td>
          <td>{{et.employeeName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- MANAGE TEAM MODAL START-->
<ng-template #teamManageTemplate>
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Add New Team</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-info">{{modalMessage}}</p>
      <div class="form-group">
        <label for="name">Team Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" placeholder="eg: Avengers" aria-label="name" aria-describedby="teamTitle">
        <div *ngIf="teamForm.get('name').touched && teamForm.get('name').errors" class="form-text text-muted error">
          <span *ngIf="teamForm.get('name').errors.required">Team Name is required.</span>
          <span *ngIf="teamForm.get('name').errors.maxlength">Only 50 characters allowed for Team Name.</span>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Team Name</label>
        <textarea id="description" formControlName="description" class="form-control" placeholder="Describe the Team - Max 100 Characters" aria-label="Description" aria-describedby="teamDescription"></textarea>
        <div *ngIf="teamForm.get('description').touched && teamForm.get('description').errors" class="form-text text-muted error">
          <span *ngIf="teamForm.get('description').errors.required">Team Description is required.</span>
          <span *ngIf="teamForm.get('description').errors.maxlength">Only 100 characters allowed for Team Description.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" id="chkActive" formControlName="active" checked aria-label="Checkbox for following text input" class="custom-control-input">
          <label class="custom-control-label" for="chkActive">Team Active</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="teamForm.invalid" class="btn btn-success btn-space">Submit</button>
      <button type="button" (click)="modalRef.hide()" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</ng-template>
<!-- MANAGE TEAM MODAL START-->

<!-- DELETE EMPLOYEE MODAL START-->
<ng-template #teamDeleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Delete Confirmation!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-danger">
    <h4>Are you confirm to delete the team?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteTeam()">Yes</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
<!-- DELETE EMPLOYEE MODAL START-->
