<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
            <h3>Team Details</h3>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <a class="nav-link" routerLink="/team"><i class="fa fa-backward"></i> Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <table class="table table-bordered table-sm table-striped">
                <tbody>
                    <tr>
                        <td>Team Id</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Team Name</td>
                        <td>Test Name</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Active</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>