<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item link">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item link">
        <a class="nav-link" routerLink="aboutUs">About Us</a>
      </li>
      <li class="nav-item link">
        <a class="nav-link" routerLink="contactUs">Contact Us</a>
      </li>
      <li class="nav-item link" *ngIf="(LoginStatus$ | async) as LoginStatus">
        <a class="nav-link" routerLink="team" *ngIf="LoginStatus">Team</a>
      </li>
      <li class="nav-item link" *ngIf="(LoginStatus$ | async) as LoginStatus">
        <a class="nav-link" routerLink="employee" *ngIf="LoginStatus">Employee</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item link" *ngIf="!(LoginStatus$ | async) as LoginStatus">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item link" *ngIf="!(LoginStatus$ | async) as LoginStatus">
          <a class="nav-link" routerLink="/login" *ngIf="LoginStatus">Login</a>
        </li>
        <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
          <div class="nav-link text-info login-info" *ngIf="(LoggedUserName$ | async) as Username">Welcome {{Username}}!</div>
        </li>
        <li class="nav-item link" *ngIf="(LoginStatus$ | async) as LoginStatus">
          <a class="nav-link btn" (click)="onLogout()" *ngIf="LoginStatus">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
